@import './../../../assets/css/components/variables.scss';

.header{
    background-color: $dark-mode-background-color;
}

.dark-mode{

    background-color: $dark-mode-background-color;

    .card{
        background-color: $dark-mode-elements-color;
    }

    .search-form{
        
        input[type="search"]{
            background-image: url('./../../../assets/css/components/img/search.png');
            background-color: $dark-mode-elements-color;
        }
    }

}