@import './../components/variables.scss';

.light-mode{

    background-color: $light-mode-background-color;

    .card{
        background-color: $light-mode-elements-color;
    }
    
    .header{
        background-color: $light-mode-background-color;
    }

    .search-form{
        
        input[type="search"]{
            background-image: url('./img/search.png');
            background-color: $light-mode-elements-color;
        }
    }

}