@import './variables.scss';

.main__countries{

    .container{
        display: flex;    
        flex-wrap: wrap;
    }

        .card{
            background-color: $light-mode-elements-color;
            box-shadow: 1px 1px 8px #595959;
            border-radius: 8px;
        
            
            .card-content{
                padding: 20px;
        
                .header-title{
                    padding-top: 5px;
                    padding-bottom: 10px;
                }
            }

            figure{
                overflow: hidden;
            }
        
            img{
                display: block;
                height: inherit;
                border-top-right-radius: 8px;
                border-top-left-radius: 8px;
            }
        }
    
}

@media only screen and (max-width: 600px){

    .card{
        width: 80%;
        height: 360px;
        margin: auto;
        margin-bottom: 50px;
    }
}

@media only screen and (min-width: 600px){
    .main__countries{
        .container{
            justify-content: space-evenly;
            
            .card{
                width: 25%;
                margin: 16px;
            }

        }
    }
}

@media only screen and (min-width: 992px){
    .main__countries{
        .container{
            .card{
                width: 20%;
                margin: 16px;
            }

        }
    }
}