@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');
$mobile-width: 375px;
$desktop-width: 1440px;

$dark-mode-elements-color: hsl(209, 23%, 22%);
$dark-mode-background-color: hsl(207, 26%, 17%);
$dark-mode-text-color: hsl(0, 0%, 100%);

$light-mode-background-color: hsl(0, 0%, 98%);
$light-mode-text-color: hsl(200, 15%, 8%);
$light-mode-input-color: hsl(0, 0%, 52%);
$light-mode-elements-color: hsl(0, 0%, 100%);

$home-font-size: 0.875em; /* 14px/16px = 0.875em*/
$detail-font-size: 1em; /* 16px/16px = 1em */

$font-family: 'Nunito Sans', sans-serif;
$font-weight-light: 300;
$font-weight-semi-bold: 600;
$font-weight-bold: 800;